body{background-color:#aaaaaa;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
body #board{top: -20px;height:680px;width: 1350px;-webkit-transform: scale(0.7);background:url(images/bg.png);padding:20px;position:absolute;-webkit-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);-moz-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);}
body #board div.side{float:left;background:#eae3d1 url(images/back.jpg);}
body #board div.side.left{margin-right:60px;}
body #board div.side div.point{float:left;position:relative;width:80px;height:300px;}
body #board div.side div.point.player1 div.piece{background:url(images/white.png); background-size:cover;}
body #board div.side div.point.player2 div.piece{background:url(images/black.png); background-size:cover;}
body #board div.side div.point div.triangle{width:0;height:0;border:40px solid transparent;overflow:visible;}
body #board div.side div.point div.piece{-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;z-index:100;-webkit-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);-moz-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);width:80px;height:80px;position:absolute;}body #board div.side div.point div.piece.ui-draggable{cursor:pointer;}body #board div.side div.point div.piece.ui-draggable:hover{-webkit-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
body  div.die{width:50px;height:50px;background-color:#eeeeee;-webkit-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);-moz-box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);box-shadow:5px 5px 20px 5px rgba(0, 0, 0, 0.25);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;position:absolute;top:340px;cursor:pointer;-webkit-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}body #board div.side div.die.active{-webkit-opacity:1;-moz-opacity:1;opacity:1;}
body  div.die#die1{left:715px;}
body div.die#die2{left:795px;}
body  div.die#die3{left:825px;}
div.die[data-value="1"] div.face[data-id="1"]{display:block;}
div.die[data-value="2"] div.face[data-id="2"]{display:block;}
div.die[data-value="3"] div.face[data-id="3"]{display:block;}
div.die[data-value="4"] div.face[data-id="4"]{display:block;}
div.die[data-value="5"] div.face[data-id="5"]{display:block;}
div.die[data-value="6"] div.face[data-id="6"]{display:block;}
body  div.die div.face{display:none;}
body  div.die div.face div.pip{width:10px;height:10px;background-color:#222222;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;position:absolute;}body #board div.side div.die div.face div.pip.left{left:7.5px;}
body  div.die div.face div.pip.center{left:20px;}
body  div.die div.face div.pip.right{right:7.5px;}
body  div.die div.face div.pip.top{top:7.5px;}
body  div.die div.face div.pip.middle{top:20px;}
body  div.die div.face div.pip.bottom{bottom:7.5px;}
body #board div.side div#message{font-family:'Satisfy',cursive;position:absolute;top:320px;color:#444549;font-size:36px;width:480px;left:20px;height:80px;line-height:80px;text-align:center;display:none;cursor:default;}
body #board div.side div.quarter{height:300px;}
body #board div.side div.quarter.top{margin-bottom:80px;}
body #board div.side div.quarter.top div.point.odd div.triangle{border-top-color:#f0f0f0;}
body #board div.side div.quarter.top div.point.ui-droppable div.triangle{border-top-color:#ffff33;}
body #board div.side div.quarter.top div.point div.triangle{border-top-width:300px;border-top-color:#444549;border-bottom-width:0;}
body #board div.side div.quarter.top div.point div.piece{top:222.22222222222223px;}body #board div.side div.quarter.top div.point div.piece:first-child{top:0;}
body #board div.side div.quarter.top div.point div.piece:nth-child(2){top:44.44444444444444px;}
body #board div.side div.quarter.top div.point div.piece:nth-child(3){top:88.88888888888889px;}
body #board div.side div.quarter.top div.point div.piece:nth-child(4){top:133.33333333333331px;}
body #board div.side div.quarter.top div.point div.piece:nth-child(5){top:177.77777777777777px;}
body #board div.side div.quarter.bottom div.point.odd div.triangle{border-bottom-color:#f0f0f0;}
body #board div.side div.quarter.bottom div.point.ui-droppable div.triangle{border-bottom-color:#ffff33;}
body #board div.side div.quarter.bottom div.point div.triangle{border-bottom-width:300px;border-bottom-color:#444549;border-top-width:0;}
body #board div.side div.quarter.bottom div.point div.piece:first-child{top:220px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(2){top:175.55555555555554px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(3){top:131.11111111111111px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(4){top:86.66666666666669px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(5){top:42.22222222222223px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(6){top:-2.2222222222222285px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(7){top:-46.66666666666663px;}
body #board div.side div.quarter.bottom div.point div.piece:nth-child(8){top:-91.11111111111109px;}
