
#Board {
    width: 900px;
    height: 640px;
    background: url('/Images/bg_bold.png') repeat;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 20px black;
    margin-left: -30px;
}

#Board .side_container {
    background: url('/Images/bg_normal.jpg') repeat;
    position: absolute;
    top: 18px;
    bottom: 18px;
    width: 415px;
    box-shadow: inset 0 0 14px black;
    border-radius: 8px;
}

#Board .side_container.left {
    left: 18px;
}

#Board .side_container.right {
    right: 18px;
}

#Board .side_container .items_top {
    position: absolute;
    top: 0px;
    left: 7px;
}

#Board .side_container .items_bottom {
    position: absolute;
    bottom: 0px;
    left: 7px;
}

#Board div.triangle {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-width: 222px;
    border-top-color: rgba(0, 0, 0, 0.3);
    border-bottom-width: 0;
    position: absolute;
}

#Board div.triangle_rotated {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-width: 222px;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-top-width: 0;
    position: absolute;
    bottom: 0px;
}

#Board div.triangle.allowed:hover,
#Board div.triangle_rotated.allowed:hover {
    /*background: rgba(255, 255, 255, 0.2);*/
}

#Board .side_container .stone_collection {
    position: absolute;
    width: 50px;
    min-height: 39px;
    z-index: 2;
}


#Board .side_container .stone_collection:nth-child(odd) div.triangle {
    border-top-color: rgba(204, 204, 204, 0.25);
}


#Board .side_container .stone_collection:nth-child(odd) div.triangle_rotated {
    border-bottom-color: rgba(204, 204, 204, 0.25);
}

#Board .stone {
    border-radius: 100%;
    border: 1px solid rgb(99, 99, 99);
    background: rgb(228, 228, 228);
    width: 35px;
    height: 35px;
    z-index: 10;
    position: relative;
    margin: 1px 7px;
    z-index: 2;
}

#Board .stone.mouse_drag_moving {
    opacity: .6;
    position: absolute;
    display: none;
    z-index: 1;

}

#Board .items_top .stone.near {
    margin-bottom: -10px;
}

#Board .items_bottom .stone.near {
    margin-top: -10px;
}

#Board .items_top .stone.near2 {
    margin-bottom: -20px;
}

#Board .items_bottom .stone.near2 {
    margin-top: -20px;
}

#Board .stone.opponent {
    border: 1px solid rgb(80, 80, 80);
    background: gray;
    z-index: 1;
}

#Board .stone.highlight {
    border: 1px solid rgb(19, 122, 44);
    background: rgb(137, 189, 121);
    opacity: 0.5;
    height: 25px;
    padding-top: 10px;
    color: transparent;
    font-family: Arial;
    font-size: 12px;
}

#Board .stone.highlight.mini {
    font-size: 10px;
    height: 30px;
    padding-top: 5px;
}

#Board .move_outside {
    border: 1px solid rgb(19, 122, 44);
    background: rgb(137, 189, 121);
    opacity: 0.5;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
    color: rgba(203, 255, 216, 1);
    padding-top: 410px;
    font-size: 19px;
    font-family: Arial;
    cursor: pointer;
    display: none;
    z-index: 2;
}

#Board .stone_collection:hover .stone.highlight {
    opacity: 0.9;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

#Board .stone.move_highlight {
    opacity: 0.8;
    background: rgb(137, 189, 121);
}

#Board .side_container .stone_collection:nth-child(1) {
    left: 0px;
}

#Board .side_container .stone_collection:nth-child(2) {
    left: 50px;
}

#Board .side_container .stone_collection:nth-child(3) {
    left: 100px;
}

#Board .side_container .stone_collection:nth-child(4) {
    left: 150px;
}

#Board .side_container .stone_collection:nth-child(5) {
    left: 200px;
}

#Board .side_container .stone_collection:nth-child(6) {
    left: 250px;
}

#Board .side_container .stone_collection:nth-child(7) {
    left: 300px;
}

#Board .side_container .stone_collection:nth-child(8) {
    left: 350px;
}

#Board .side_container .items_top .stone_collection {
    top: 0px;
}

#Board .side_container .items_bottom .stone_collection {
    bottom: 0px;
}

#Board .dices {
    position: absolute;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    left: 10px;
    right: 10px;
    text-align: center;
    display: none;
}

#Board .dices .dice {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background: white;
    color: gray;
    border: 1px solid silver;
    padding: 13px;
    font-family: Arial;
    box-shadow: 0 0 22px black;
    font-size: 19px;
}


#Board .dices .dice.v2 {
    display: inline-block;
    width: 35px;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: gray;
    padding: 13px;
    font-family: Arial;
    font-size: 19px;
    background: url('/images/dice_bg2.png') top center;
    background-size: 74px;
    padding-top: 23px;
    padding-right: 14px;
}

#Board .dices .dice.disabled {
    opacity: 0.6;
    color: silver;
}

#Board .dices .dice1 {
}

#Board .dices .dice2 {
}

#Board .dices .dice3 {
}

#Board .player_killed_stones {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -26px;
}

#Board .opponent_killed_stones {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -26px;
}

#Board .opponent_killed_stones .stone,
#Board .player_killed_stones .stone {
    height: 25px;
    padding-top: 10px;
    color: gray;
    font-family: Arial;
    font-size: 12px;
}

#Board .opponent_killed_stones .stone {
    color: silver;
}
