
body {
    overflow: auto;
    min-width: 900px;
    min-height: 650px;
}

#Addins {
    position: fixed;
}

#Background {
    background: #7A512D;
}

#Game {
    margin-top: 175px;
}

#Root {
    background: transparent;
}

#RightDocOpener {
    background: url('/images/details-white.png') no-repeat top right;
    color: white;
    box-shadow: 0 0 0px;
    margin-right: 20px;
    top: 10px;
    opacity: .5;
    padding-top: 0px;
    margin-top: 11px;
}

#RightDocOpener span {
    padding-right: 30px;
    font-size: 17px;
}

#RightDocOpener:hover {
    background-color: transparent;
    opacity: 1;
}

#Notification {
    top: 50px;
}

.player .nick.active {
    background: rgba(85, 185, 25, 0.46);
    border-radius: 4px;
}


#Game .center_title {
    position: fixed;
    left: 50%;
    top: 60px;
    margin-left: -80px;
    opacity: .3;
    color: white;
    display: none;
}

#Game .center_title .description {
    margin-top: 3px;
    margin-left: 12px;
}