
body {
    overflow: auto;
    min-width: 900px;
    min-height: 650px;
}

#Addins {
    position: fixed;
}

#Background {
    background: #7A512D;
}

#Game {
    margin-top: 175px;
}

#Root {
    background: transparent;
}

#RightDocOpener {
    background: url('/images/details-white.png') no-repeat top right;
    color: white;
    box-shadow: 0 0 0px;
    margin-right: 20px;
    top: 10px;
    opacity: .5;
    padding-top: 0px;
    margin-top: 11px;
}

#RightDocOpener span {
    padding-right: 30px;
    font-size: 17px;
}

#RightDocOpener:hover {
    background-color: transparent;
    opacity: 1;
}

#Notification {
    top: 50px;
}

.player .nick {
    position: relative;
    z-index: 20;
}

#Player1 .progresbar, #Player2 .progresbar {
    width: 0px;
    height: 32px;
    position: absolute;
    bottom: -7px;
    left: 0px;
    text-align: left;
    background: rgba(85, 185, 25, 0.46);
    border-radius: 4px;
    z-index: 19;
}

#Player1 .progresbar.additional, #Player2 .progresbar.additional {
    background: rgba(208, 149, 26, 0.46);
}

#Player1 .progresbar.active, #Player2 .progresbar.active {
    display: block;
}

.player .progresbar .seconds {
    position: absolute;
    left: -35px;
    top: 7px;
    width: 30px;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
}


#Game .center_title {
    position: fixed;
    left: 50%;
    top: 60px;
    margin-left: -80px;
    opacity: .3;
    color: white;
    display: none;
}

#Game .center_title .description {
    margin-top: 3px;
    margin-left: 12px;
}


#Player2 .offline {
    display: none;
    position: absolute;
    padding: 1px 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 1px solid #B4B4B4;
    top: 60px;
    color: #FFF;
    right: 50px;
}

#Player1 .added_rating {
    color: #72E22F;
    background: rgba(0, 0, 0, 0.66);
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    top: 146px;
    border: 1px solid rgba(255, 255, 255, 0.53);
    left: 0px;
    right: 0px;
    display: none;
}



.jokfm_plugin .stop_button {
    margin-left: auto;
    margin-top: 2px;
    background: transparent;
}

.jokfm_plugin .active_channel {
    float: none;
}

.player .music_player {
    display: none !important;
}

#Login {
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    position: relative;
    z-index: 10;
    font-family: 'Helvetica Neue', Arial;
    display: none;
}

#Login input {
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid silver;
    width: 210px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#Login .separator {
    margin-top: 30px;
    color: silver;
}

#Login ul.social_connect {
    margin-top: 20px;
    width: 240px;
    padding-bottom: 10px;
    margin-left: 5px;
}

#Login ul.social_connect li {
    border: 1px solid transparent;
    cursor: pointer;
    text-align: left;
    list-style: none;
}

#Login ul.social_connect li:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(235, 235, 235, 0.35);
    border-radius: 4px;
}


#Login ul.social_connect li a {
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    padding: 17px;
    padding-left: 15px;
    display: inline-block;
    padding-right: 14px;
    padding-bottom: 12px;
}

#Login ul.social_connect li:hover img {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
}

#Login ul.social_connect li img {
    margin-right: 15px;
    border: 0px solid white;
    border-radius: 100%;
    vertical-align: middle;
    margin-top: -5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
}

#Login ul.social_connect li:hover a {
    text-decoration: none;
}

#Login .login_description {
    color: rgba(245, 222, 179, 0.37);
    margin-top: 3px;
    text-align: right;
    margin-right: 52px;
}
