
body {
    overflow: auto;
    min-width: 900px;
    min-height: 650px;
}

#Addins {
    position: fixed;
}

#Background {
    background: #7A512D;
}

#Game {
    margin-top: 175px;
}

#Root {
    background: transparent;
}

#RightDocOpener {
    background: url('/images/details-white.png') no-repeat top right;
    color: white;
    box-shadow: 0 0 0px;
    margin-right: 20px;
    top: 10px;
    opacity: .5;
    padding-top: 0px;
    margin-top: 11px;
}

#RightDocOpener span {
    padding-right: 30px;
    font-size: 17px;
}

#RightDocOpener:hover {
    background-color: transparent;
    opacity: 1;
}

#Notification {
    top: 50px;
}

.player .nick {
    position: relative;
    z-index: 20;
}

#Player1 .progresbar, #Player2 .progresbar {
    width: 0px;
    height: 32px;
    position: absolute;
    bottom: -7px;
    left: 0px;
    text-align: left;
    background: rgba(85, 185, 25, 0.46);
    border-radius: 4px;
    z-index: 19;
}

#Player1 .progresbar.additional, #Player2 .progresbar.additional {
    background: rgba(208, 149, 26, 0.46);
}

#Player1 .progresbar.active, #Player2 .progresbar.active {
    display: block;
}



#Game .center_title {
    position: fixed;
    left: 50%;
    top: 60px;
    margin-left: -80px;
    opacity: .3;
    color: white;
    display: none;
}

#Game .center_title .description {
    margin-top: 3px;
    margin-left: 12px;
}


#Player2 .offline {
    display: none;
    position: absolute;
    padding: 1px 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 1px solid #B4B4B4;
    top: 60px;
    color: #FFF;
    right: 50px;
}

#Player1 .added_rating {
    color: #72E22F;
    background: rgba(0, 0, 0, 0.66);
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    top: 146px;
    border: 1px solid rgba(255, 255, 255, 0.53);
    left: 0px;
    right: 0px;
    display: none;
}



.jokfm_plugin .stop_button {
    margin-left: auto;
    margin-top: 2px;
    background: transparent;
}

.jokfm_plugin .active_channel {
    float: none;
}

.player .music_player {
    display: none!important;
}