<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <appSettings xdt:Transform="Replace">
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />

        <add key="LoginUrl" value="http://jok.io/JoinUs" />
        <add key="ExitUrl" value="http://jok.io/lobby/backgammon" />

        <add key="Jok:GameID" value="13" />
        <add key="Jok:GameSecret" value="" />
    </appSettings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    
</configuration>
