<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>Pitching - The Game</title>
    <meta property="og:image" content="http://pitching.jok.io/Images/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="fb:app_id" content="528732163816152" />
    
</head>
<body>
    @RenderBody()
</body>
</html>